<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Emai SPAM Detector</title>
</head>
<body>
<center><h2>Email Spam Detector</h2></center>
    <div class="container-data">
    <form action="/" method="post">
         <br> <br> <br> <br> <br> <br> <br>
        <h3>Enter A Message To Check The Message is SPAM or NOT-SPAM</h3>
        <textarea class="text-box" id="sentence" name="message"  onsubmit="return checkforblank()" ></textarea>
        <button type="submit" class="btn">Predict</button>
    </form>
    </div>
    <br>
    {% if message %}
    <div class="show-result">

        <div class="output"><h3 style="color:white; font-size:22px; font-weight:bold; font-family:'Courier New', Courier, monospace; text-transform: uppercase;">{{message}}</h3></div>
        <br>
        {% if result=='This Message is Not a SPAM Message.' %}

        {% endif %}
        {% if result=='This Message is Not a SPAM Message.' %}

        {% endif %}
        {% if result=='This Message is a SPAM Message.' %}

        {% endif %}
        {% if result=='This Message is Not a SPAM Message.' %}
        <div class="output-not">{{result}}</div>
        {% endif %}
        {% if result=='This Message is a SPAM Message.' %}
        <div class="output">{{result}}</div>
        {% endif %}
<!--        {% if result=='This Message is a SPAM Message.' %}-->

<!--        {% endif %}-->
    </div>
    {% else %}
    <h3 style="color:red; padding:30px;font-size:35px; font-weight:bold; font-family:'Courier New', Courier, monospace; text-transform: uppercase;">.Enter A Message To Check The Message is SPAM or NOT-SPAM..</h3>
    {% endif %}

</body>
</html>